.a {
    background: red;
}

.b {
    background: green;
}

.c {
    background: blue;
}

.d {
    background: chocolate;
}

.e {
    background: orange;
}

.f {
    background: indigo;
}

.g {
    background: maroon;
}

.h {
    background-color:sienna ;
}

.i {
    background: forestgreen;
}

.j {
    background: rgb(133, 7, 218);
}

/* Конец Служебной Части */

